{% extends 'base.html' %} {% block scripts %}
<script>
    $(function() {

        $("#force-audio-hdmi").click(function(e) {
            e.preventDefault();
            // {# MSG: Confirmation text whe the user starts to turn off the machine running Pikaraoke. #}
            if (window.confirm("{{ _('Are you sure you want to force the audio output to HDMI?') }}")) {
                location.href = this.href;
            }

        })
        $("#force-audio-jack").click(function(e) {
            e.preventDefault();
            // {# MSG: Confirmation text whe the user starts to turn off the machine running Pikaraoke. #}
            if (window.confirm("{{ _('Are you sure you want to force the audio output to the 3.5 jack?') }}")) {
                location.href = this.href;
            }

        })
        $("#test-av-delay").click(function(e) {
            e.preventDefault();
            $("#stop-av-delay-test").toggleClass("is-inline")
            $.get('/av_delay_test')
        })
        $("#stop-av-delay-test").click(function(e) {
            e.preventDefault();
            $.get('/stop_av_delay_test').done(function() {
                $("#stop-av-delay-test").toggleClass("is-inline")
            });
        })
        $("#delay-dec").click(function() {
            val = $("#delay-val").text() - 100
            $.get('/set_pref_av_delay',{"val":val})
            $("#delay-val").text(val)
        })
        $("#delay-inc").click(function() {
            val = parseInt($("#delay-val").text()) + 100
            $.get('/set_pref_av_delay',{"val":val})
            $("#delay-val").text(val)
        })
        $("#pref-bg-music").click(function() {
            var val = $("#pref-bg-music").is(":checked") ? "True" : "False";
            $.get('change_prefs', {
                    "pref": "disable_bg_music",
                    "val": val
            })
            .done(function(data) {
                var obj = JSON.parse(data);
                
                if (obj.success) showNotification(obj.msg, "is-info");
                else showNotification(obj.msg, "is-danger")
            });
        })
        $("#pref-score").click(function() {
            var val = $("#pref-score").is(":checked") ? "True" : "False";
            $.get('change_prefs', {
                "pref": "disable_score",
                "val": val
            })
            .done(function(data) {
                var obj = JSON.parse(data);
                
                if (obj.success) showNotification(obj.msg, "is-info");
                else showNotification(obj.msg, "is-danger")
            });
        })
        $("#pref-overlay").click(function() {
            var val = $("#pref-overlay").is(":checked") ? "True" : "False";
            $.get('change_prefs', {
                "pref": "show_overlay",
                "val": val
            })
            .done(function(data) {
                var obj = JSON.parse(data);
                
                if (obj.success) showNotification(obj.msg, "is-info");
                else showNotification(obj.msg, "is-danger")
            });
        })
        $("#pref-e-admin").click(function() {
            var val = $("#pref-e-admin").is(":checked") ? "True" : "False";
            $.get('change_prefs', {
                "pref": "e_admin",
                "val": val
            })
            .done(function(data) {
                var obj = JSON.parse(data);
                
                if (obj.success) showNotification(obj.msg, "is-info");
                else showNotification(obj.msg, "is-danger")
            });
        })
        $("#pref-limit").on("input", function() {
            var val = $(this).val()
            $.get('change_prefs', {
                "pref": "limit_user",
                "val": val
            })
            .done(function(data) {
                var obj = JSON.parse(data);
                
                if (obj.success) showNotification(obj.msg, "is-info");
                else showNotification(obj.msg, "is-danger")
            });
        })
        $("#update-link").click(function(e) {
            e.preventDefault();
            // {# MSG: Confirmation text whe the user starts to turn off the machine running Pikaraoke. #}
            if (window.confirm("{{ _('Are you sure you want to update the piKaraoke system?') }}")) {
                location.href = this.href;
            }
        })
        $("#quit-link").click(function(e) {
            e.preventDefault();
            // {# MSG: Confirmation text whe the user selects quit. #}
            if (window.confirm("{{ _('Are you sure you want to quit?') }}")) {
                location.href = this.href;
            }
        });

        $("#shutdown-link").click(function(e) {
            e.preventDefault();
            // {# MSG: Confirmation text whe the user starts to turn off the machine running Pikaraoke. #}
            if (window.confirm("{{ _('Are you sure you want to shut down?') }}")) {
                location.href = this.href;
            }
        });

        $("#restart-link").click(function(e) {
            e.preventDefault();
            // {# MSG: Confirmation text whe the user starts to reboot the machine running Pikaraoke. #}
            if (window.confirm("{{ _('Are you sure you want to reboot?') }}")) {
                location.href = this.href;
            }
        });

        $("#update-ytdl-link").click(function(e) {
            e.preventDefault();
            if (
                window.confirm(
                    // {# MSG: Confirmation text whe the user asks to update the Youtube-dl tool. #}
                    "{{ _('Are you sure you want to update Youtube-dl right now? Current and pending downloads may fail.') }}"
                )
            ) {
                location.href = this.href;
            }
        });

        $("#expand-link").click(function(e) {
            e.preventDefault();
            // {# MSG: Confirmation text when the user wants to expand the filesystem to take the entire SD card. #}
            if (window.confirm("Are you sure you want to expand the filesystem? This will reboot your raspberry pi.")) {
                location.href = this.href;
            }
        });
    });
</script>
{% endblock %} {% block header %}
<h1>{% block title %} {# MSG: Title of the information page. #} {% trans %}Information{% endtrans %} {% endblock %}</h1>
{% endblock %} {% block content %}
<hr/>

<div class="has-text-centered">
    <p>
        {# MSG: Label which appears before a url which links to the current page. #} {% trans %} URL of {{site_title}}: {% endtrans %}
    </p>
    <p class="is-size-4 has-text-warning has-text-centered">{{ url }}</p>
    {# MSG: Label before a QR code which brings a frind (pal) to the main page if scanned, so they can also add songs. QR code follows this text. #}
    <p>{% trans %}Handy URL QR code to share with a pal:{% endtrans %}</p>
    <img id="qr-img" width="300px" src="{{ url_for('qrcode') }}" style="image-rendering: pixelated" /> {# MSG: Label before a link to the Splash screen. #}
    <p><a href="{{ url_for('splash') }}">{% trans %}Open splash screen{% endtrans %}</a></p>
</div>

<hr /> {# MSG: Header of the information section about the computer running Pikaraoke. #}
<h1>{% trans %}System Info{% endtrans %}</h1>
<ul>
    {# MSG: The CPU usage of the computer running Pikaraoke. #}
    <li>{% trans %}CPU: {{ cpu }}{% endtrans %}</li>
    {# MSG: The disk usage of the computer running Pikaraoke. Used by downloaded songs. #}
    <li>{% trans %}Disk Usage: {{ disk }}{% endtrans %}</li>
    {# MSG: The memory (RAM) usiage of the computer running Pikaraoke. #}
    <li>{% trans %}Memory: {{ memory }}{% endtrans %}</li>
    {# MSG: The version of the program "Youtube-dl". #}
    <li>{% trans %}Youtube-dl (yt-dlp) version: {{ youtubedl_version }}{% endtrans %}</li>
    {# MSG: The version of Pikaraoke running right now. #}
    <li>{% trans %}Pikaraoke version: {{ pikaraoke_version }}{% endtrans %}</li>
</ul>

<hr /> {% if admin %} {# MSG: Title of the updates section. #}
<h1>{% trans %}Updates{% endtrans %}</h1>
{# MSG: Label before a link which forces Pikaraoke to rescan and pick up any new songs. #}
<p>{% trans %}Refresh the song list:{% endtrans %}</p>
<ul>
    <li>
        <a href="/refresh" {# MSG: Text on the link which forces Pikaraoke to rescan and pick up any new songs. #}>{% trans %}Rescan song directory{% endtrans %}</a
    >
  </li>
</ul>
{# MSG: Help text explaining the Rescan song directory link. #}
<p class="help">{% trans %}
  You should only need to do this if you manually copied files to the download directory while pikaraoke was running.
  {% endtrans %}</p>

{# MSG: Text explaining why you might want to update youtube-dl. #}
<p>{% trans %}If downloads or searches stopped working, updating youtube-dl will probably fix it.
   The current installed version is: "{{ youtubedl_version }}"{% endtrans %}</p> 
<ul>
  <li>
    <a id="update-ytdl-link" href="{{ url_for('update_ytdl') }}"
    {# MSG: Text for the link which will try and update youtube-dl on the machine running Pikaraoke. #}
      >{% trans %}Update youtube-dl{% endtrans %}</a
    >
  </li>
</ul>
<p class="help">
  {# MSG: Help text which explains why updating youtube-dl can fail.  The log is a file on the machine running Pikaraoke. #}
  {% trans %}
    This update link above may fail if you don't have proper file permissions.
    Check the pikaraoke log for errors. 
  {% endtrans %}
</p>
{# MSG: Label before a link which forces Pikaraoke to update itself. #}
<p>{% trans %}Update PiKaraoke{% endtrans %}</p>
<ul>
    <li>
        <a id="update-link" href="{{ url_for('update_pikaraoke') }}" {# MSG: Text on the link which forces Pikaraoke to update itself #}>{% trans %}Update{% endtrans %}</a
    >
  </li>
</ul>
{# MSG: Help text explaining the Update PiKaraoke. #}
<p class="help">{% trans %}Updating the PiKaraoke system is irreversible. Do it with caution, at your own risk!<br>After updating, the system will reboot.{% endtrans %}</p>


{# MSG: Title of the section for switching the system language #}
<h1>{% trans %}Language{% endtrans %}</h1>
<p>
  {# MSG: Text to inform about language switching #}
  {% trans %}Select the languages that you want to display.{% endtrans %}
</p>
<ul>
  {% for key, language in languages | dictsort %}
  <li><a href="{{ url_for('select_language') }}?lang={{key}}">{{ key }}: {{ language }}</a></li>
    {% endfor %}
</ul>

{# MSG: Title of the section for configuring the default audio delay #}
<h1>{% trans %}Audio delay{% endtrans %}</h1>
<p>
    {# MSG: Instructions on configuring audio delay #} {% trans %} Click on "Test audio/video sync" below to check on your display if the audio and video are synchronized. In case you need, use the buttons to adjust the sync. {% endtrans %}
</p>
<ul>
    <li>
        <a id="test-av-delay" href="">
			{# MSG: Text for the link that will start the audio/video sync test #} {% trans %}Test audio/video sync {% endtrans %}</a>
        <p id="stop-av-delay-test" style="color: red; cursor: pointer; display:none; margin-left: 3px;">{# MSG: Text for the stop a/v delay test #} {% trans %} (stop test){% endtrans %}</p>

    </li>
</ul>
<div class="is-flex" style="justify-content: space-between">
    <h4>{# MSG: Text of the section audio delay in Info #} {% trans %} Audio delay (millisec){% endtrans %}</h4>
    <h4 id="delay-dec" class="tabs" style="margin:0; color:red; cursor: pointer; font-weight: bold; font-size:x-large;">&#x2296;</h4>
    <h4 id="delay-val" class="tabs" style="padding-top:2px; margin:0; cursor: pointer">{{ audio_delay }}</h4>
    <h4 id="delay-inc" class="tabs" style="margin:0; color:green; cursor: pointer; font-weight:bold;font-size:x-large;">&#x2295;</h4>
</div>

{# MSG: Title of the section for setting preferences #}
<h1>{% trans %}Preferences{% endtrans %}</h1>

<ul>
    <li>
        <label class="checkbox">
				<input id="pref-bg-music" type="checkbox" {% if disable_bg_music %}checked{% endif %}>
				{# MSG: Checkbox label which enable/disable background music on the Splash Screen #} {% trans %}Disable background music on splash screen{% endtrans %}
			</label>
    </li>
    <li>
        <label class="checkbox">
				<input id="pref-score" type="checkbox" {% if disable_score %}checked{% endif %}>
				{# MSG: Checkbox label which enable/disable the Score Screen #} {% trans %}Disable the score screen after each song{% endtrans %}
			</label>
    </li>
    <li>
        <label class="checkbox">
				<input id="pref-overlay" type="checkbox" {% if show_overlay %}checked{% endif %}>
				{# MSG: Checkbox label which enable/disable showing the qr code on top of the videos #} {% trans %}Show the QR code on top of the videos{% endtrans %}
			</label>
    </li>
    <li>
        <label class="checkbox">
            <input id="pref-limit" type="number" min="0" max="99" value="{{ limit_user }}" />
            {# MSG: Numberbox label for limitting the number of songs for each player #} {% trans %}Limit of songs for each user in queue (0 = illimited){% endtrans %}
        </label>
    </li>
    <li>
        <label class="checkbox">
                <input id="pref-e-admin" type="checkbox" {% if e_admin %}checked{% endif %}>
                {# MSG: Checkbox label which let everyone to have admin rights #} {% trans %}Let everyone have admin rights{% endtrans %}
            </label>
    </li>
</ul>

{% if is_pi %} {# MSG: Title of the section for configuring the rPi audio output #}
<h1>{% trans %}Force audio output (experimental){% endtrans %}</h1>
<p>
    {# MSG: Instructions on configuring audio output #} {% trans %}Here you can force the rPi to output the audio through HDMI or the 3.5 jack.{% endtrans %}
</p>
<p>
    {# MSG: Information about the force audio output #} {% trans %}Have in mind that this is experimental and may not work. It will create/edit a file in "/etc/asound.conf" with some commom parameters that used to do the job.{% endtrans %}
</p>
<ul>
    <li>
        <a id="force-audio-hdmi" href="{{ url_for('force_audio_hdmi') }}">
			{# MSG: Text for the link that will force audio output through hdmi #} {% trans %}Force audio output through HDMI{% endtrans %}</a>
    </li>
    <li>
        <a id="force-audio-jack" href="{{ url_for('force_audio_jack') }}">
			{# MSG: Text for the link that will force the audio output through jack #} {% trans %}Force audio output through 3.5 Jack{% endtrans %}</a>
    </li>
</ul>
{% endif %} {# MSG: Title of the section on shutting down / turning off the machine running Pikaraoke. #}
<h1>{% trans %}Shutdown{% endtrans %}</h1>
<p>
    {# MSG: Explainitory text which explains why to use the shutdown link. #} {% trans %} Don't just pull the plug! Always shut down your server properly to avoid data corruption. {% endtrans %}
</p>
<ul>
    {# MSG: Text for button which turns off Pikaraoke for everyone using it at your house. #}
    <li><a id="quit-link" href="{{ url_for('quit') }}">{% trans %}Quit Pikaraoke{% endtrans %}</a></li>
    {% if is_pi %} {# MSG: Text for button which reboots the machine running Pikaraoke. #}
    <li><a id="restart-link" href="{{ url_for('reboot') }}">{% trans %}Reboot System{% endtrans %}</a></li>
    <li>
        {# MSG: Text for button which turn soff the machine running Pikaraoke. #}
        <a id="shutdown-link" href="{{ url_for('shutdown') }}">{% trans %}Shutdown System{% endtrans %}</a>
    </li>
    {% endif %}
</ul>

{% if is_pi %} {# MSG: Title for section containing a few other options on the Info page. #}
<h1>{% trans %}Other{% endtrans %}</h1>
<a id="expand-link" href="{{ url_for('expand_fs') }}">
    {# MSG: Text for button#}
    {% trans %}Expand Raspberry Pi filesystem{% endtrans %}
  </a></li>
{# MSG: Explainitory text which explains why you might want to expand the filesystem. #}
<p class="help">{% trans %} If you just installed the pre-built pikaraoke pi image and your SD card is larger than 4GB, you may want to expand the filesystem to utilize the remaining space. You only need to do this once. This will reboot the system. {% endtrans %}</p>
{% endif %}

<hr/> {% if (admin_enabled and not e_admin) %} {# MSG: Link which will log out the user from admin mode. #}
<p>{% trans logout_url=url_for('logout') -%} Disable admin mode: <a href="{{ logout_url }}">Log out</a> {% endtrans %}</p>
{% endif %} {% else %} {# from if admin #} {# MSG: Link which will let the user log into admin mode. #}
<p>{% trans login_url=url_for('login') %} Enable admin mode: <a href="{{ login_url }}">Log in</a> {% endtrans %}</p>
{% endif %} {% endblock %}